body {
  margin: 0;
  background: #e5e7eb;
  font-family: Arial, sans-serif;
}

.header {
  background: #3b82f6;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  margin-top: 30px;
}

.logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.search {
  background: white;
  border-radius: 8px;
  padding: 7px;
  display: flex;
  width: 100vh;
}

.search i {
  color: gray;
}

.search input {
  border: none;
  outline: none;
}

.close {
  color: white;
}