body{
    background: aqua;
}
#parent{
    width: 850px;
    height: 600px;
    display: flex;;
    justify-content: center;
    align-items: center;
    background-color: darkblue;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
}
.child{
    background-color: yellow;
    height: 180px;
    border: 3px solid black;
    width:  220px ;
    border-radius: 10%;
}
.p{
    text-align: center;
    font-size: xx-large;
}

