body{
    font-family:Arial;
    margin:0;
    background-color:#f5f5f5;
}

header{
    background-color:brown;
    color:white;
    text-align:center;
    padding:20px;
}

section{
    padding:20px;
}

footer{
    background-color:brown;
    color:white;
    text-align:center;
    padding:15px;
}