body{
    font-family:Arial;
    margin:0;
    background-color:#dadada;
}

header{
    background-color:orange;
    color:white;
    text-align:center;
    padding:20px;
}


section{
    padding:20px;
}

footer{
    background-color:orange;
    color:white;
    text-align:center;
    padding:15px;
}