body{
    margin:0;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#eee;
}

.container{
    display:flex;
    flex-direction:row;
    gap:20px;
    padding:20px;
    background:white;
}

.box{
    width:120px;
    height:120px;
    background:#4d79ff;
    color:white;
    font-size:70px;
    display:flex;
    justify-content:center;
    align-items:center;
}